.floating-btn {
  position: fixed;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  z-index: 999;
  background-color: transparent;
  color: white;
  width: 110px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 1rem;
  font-size: 3rem;
}