@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sora:wght@100..800&display=swap');

body {
  margin: 0;
  box-sizing: border-box;
  background-color: #FBFBFB;
  font-family: "Sora", sans-serif;
}